* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

#main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

#workspace {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow-y: scroll;
}

#ruler {
  display: flex;
  flex-direction: column;
}

#toolbar {
  width: 40%;
  background-color: aliceblue;
  overflow-y: scroll;
  padding: 20px;
}

#drop-zone {
  border: 1px solid;
  padding: 10px;
}

#download-zone {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  padding: 10px;
}

#create-zone {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  padding: 10px;
}

#tile_palette {
  padding: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#stage {
  width: 360px;
  height: 2000px;
  position: relative;
  background-image: url("image/tile/0.png");
  background-size: contain;
}

#status {
  text-align: center;
}

#remove {
  width: 100%;
  height: 40px;
  background-color: white;
  color: red;
  outline: none;
  border: 1px solid black;
  margin: 10px 0;
}

.grid-row {
  display: flex;
  flex-direction: row;
}

.gimmick {
  position: absolute;
}

.tile:hover {
  background-color: aquamarine;
}

.gimmick-img {
  width: 100%;
  height: 100%;
  backface-visibility: initial;
  -webkit-backface-visibility: hidden;
}

.tile-tool {
  width: 60px;
  height: 70px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tile-tool:hover {
  background-color: lightblue;
}

.tile-tool-img {
  width: 50px;
  height: 50px;
  backface-visibility: initial;
  -webkit-backface-visibility: hidden;
}

.tile-tool-text {
  font-size: 14px;
}

.ruler-block {
  height: 100px;
}

.ruler-block p {
  height: 100px;
}
